<div class="pagination-container">
    <nav class="pagination">
        <a href="#" class="page-link prev disabled">
            <i class="ri-arrow-left-s-line"></i>
        </a>

        <a href="#" class="page-link active">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <span class="page-dots">...</span>
        <a href="#" class="page-link">12</a>

        <a href="#" class="page-link next">
            <i class="ri-arrow-right-s-line"></i>
        </a>
    </nav>
</div>